.header_container{
    background: #1d2738;
    color: #7f8fa9;
    padding: 2rem 0;
}

.breadcrumb-item.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    color: #868e96 !important;
    content: "/";
}
.breadcrumb1{
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    margin: 0 auto;
    display: table;
}
.breadcrumb-item {
    float: left;
}
.breadcrumb-item i{
    color: #7f8fa9 !important;
}
.breadcrumb-item a{
    color: #7f8fa9 !important;
    text-decoration: none;
 
}
ol li {
    margin: 5px 0;
}
.gray {
    background: #f4f5f7 !important;
}
.contact-box {
    width: 100%;
    margin: 0 auto;
    display: table;
    text-align: center;
    border: 1px solid #e0ecf5;
    background: #ffffff;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 2.4em 1em;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
section {
    padding: 80px 0 80px;
    position: relative;
}
.contact-box img {
    margin-bottom: 10px;
    width: 20%;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.contact-box h4 {
    font-size: 19px;
    margin-bottom: 2px;
    font-weight: 500;
}