.ForgotPassword{
    height: 100vh; 
    justify-content: center;
    align-items: center;
    background-image: url('https://images3.alphacoders.com/132/1323579.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.mb-5{
    margin-bottom: 5px;
}